.timeline {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.timeline__days {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  margin: 0 20px;
}

.item {
  margin: 0.4em 0.1em;
  cursor: pointer;
  flex: 0 1 auto;
}

.timeline__date {
  font-size: 8px;
  display: block;
  position: relative;
  top: 0;
  left: 10px;
}

.next-month-button {
  margin-left: auto;
}
