.timeline {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.timeline__days {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.item {
  list-style-type: none;
  margin: 0.4em 0.1em;
  cursor: pointer;
}

.timeline__date {
  font-size: 8px;
  display: block;
  position: relative;
  top: 0;
  left: 10px;
}

.next-month-button {
  margin-left: auto;
}
