<words-header></words-header>

<div class="d-flex align-items-center flex-column justify-content-center h-100">
  <h1 class="display-4">Wordly.ru &mdash; электронный личный дневник</h1>
  <div class="lead">
    <p>Wordly.ru это калька с американского сервиса 750words.com, но содержит несколько существенных
      улучшений.</p>
    <ol>
      <li>Улучшенный, приятный глазу дизайн</li>
      <li>Открытый исходный код (<a
        href="https://github.com/amIwho/ng2-words">https://github.com/amIwho/ng2-words</a>)
      </li>
      <li>Новейшие технологии (Angular 2+, NodeJS, MongoDB), что позволяет реализовывать новый функционал быстрее
      </li>
      <li>Основной функционал - бесплатен.</li>
    </ol>
    <p>Также в планах:</p>
    <ol>
      <li>Реализовать двойное шифрование - по pgp-ключу и хеширование по паролю на клиентской стороне</li>
      <li>Тэги дня, для быстрого поиска записей, и сам поиск по записям</li>
    </ol>
  </div>
</div>
